html,
body {
  min-height: 100%;
}

#root {
  /* display: flex;
  place-items: center;
  justify-content: center;
  align-items: center; */
  /* margin: 0 ; */
  text-align: center;
  background-color: #209f0d;
  --1paleta-First-color: #026913;
  --1paleta-Second-color: #1eba0a;
  --1paleta-Tercer-color: #399a88;
  --Text-inportant-color: #66b162;
  --2paleta-Second-color: #022a69;
}

.App {
  margin: 0;
  background-image: url(./assets/img/back12.jpg);
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


::-moz-selection {
  color: #ffffff;
  background: #fe2990;
}

::selection {
  color: #ffffff;
  background: #fe2990;
}

.text-inportant {
  color: var(--Text-inportant-color);
}

/* ///////////////////Root */
.FirstText {
  color: var(--1paleta-Second-color);
  font-size: 150%;
  font-style: oblique;
  font-variant-caps: all-petite-caps;

}

.SecondText {
  color: var(--1paleta-Tercer-color);
  font-size: 150%;
  font-style: oblique;
  font-variant-caps: all-petite-caps;

}

.TextHeader {
  font-size: large;
}

.btn {
  cursor: pointer;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.3s;
  background-color: var(--1paleta-Second-color);
}

.btn:hover {
  background-color: var(--1paleta-First-color);
  scale: 1.09;
  transform: translateY(-10px);
  box-shadow: 5px 5px 0px var(--1paleta-Second-color);
}

.btn-secundario {
  cursor: pointer;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.3s;
  background-color: var(--2paleta-Second-color);
  background: rgb(2, 42, 105);
  background: radial-gradient(circle, rgba(2, 42, 105, 1) 42%, rgb(53, 206, 22) 100%);
  animation: 2s infinite linear alternate moveGradient;
  transition: 0.5s;
  background-size: 200% 200%;

}

.btn-secundario:hover {
  scale: 1.09;
  transform: translateY(-10px);
  box-shadow: 5px 5px 0px var(--1paleta-Second-color);
}

.DividorCostados {
  background-color: var(--1paleta-First-color);
  border-radius: 200%;

}

.DividorCentro {
  background-color: var(--1paleta-Second-color);
  width: 50%;

}

/* //////////////////////////////Header */


.Header {
  display: inline-block;
  width: 20%;
  border: 1px solid var(--1paleta-Second-color);
  height: 85vh;
  position: fixed;
  margin-top: 0%;
  max-width: 800px;
  max-height: 800px;
  border-radius: 20px;
  margin-left: 1%;
  left: 0;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

.ImgHeader {
  width: 90%;
  margin-top: 5%;
  border-radius: 20px;
  box-shadow: 10px 10px 0px var(--1paleta-Second-color);
  border: 1px solid var(--1paleta-First-color);
}

/* ////////////////////////////////// */
/* INICIA HEADER MOBILE */
/* ////////////////////////////////// */

.HeaderMobile {
  position: absolute;
  top: 0;
  background-color: #022a69;
  width: 100%;
  height: 50px;
  padding: 5px;
  display: none;
  justify-content: space-around;
  align-items: center;

}

.HeaderMobile img {
  max-width: 50px;
  margin: 0 5px;
  border-radius: 10px;
}

.HeaderMobile .FirstText {
  margin: 0;
}

.ico_Toggle_Mobile {
  color: #1eba0a;
  transition: 0.5s;
  font-size: xx-large;
  font-weight: 800;

}

/* ////////////////////////////////// */
/* TERMINA HEADER MOBILE */
/* ////////////////////////////////// */


.Icon {
  width: 10%;
  margin: 10px;
  cursor: pointer;
  ;
}

.Icon-config {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.Resto {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px black;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 30%;
  transition: 0.3s;
}

.Rotador {
  /* background-color: #85c7bb; */
  width: 500px;
  height: 500px;
  transform: translateX(230px) translateZ(400px);
  animation-duration: 3000ms;
  transition: 0.5s;
}

.ContenDev {
  transform: translate(100px, 35px);
}

.Contenbtns {
  z-index: 500;
  width: 10%;
  position: absolute;
  right: -150px;
  top: -51px;
  /* left: 0; */
}

.btnCambio {
  outline: none;
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #022a69;
  z-index: 2000;
  transition: 0.2s;
}

.btnCambio:focus {
  outline: none;
}

.btnCambio:hover {
  color: #1eba0a;
  /* margin: 0; */
  /* border: 0; */
}


.displaynone {
  display: none;
}

.contenCara {
  max-width: 900px;
  max-height: 500px;
  height: 500px;
  position: relative;
  overflow-y: scroll;
}

.noneScrol {
  overflow: hidden;
}

.RotaX {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -5%;
  width: 800px;
  transform: rotateY(-90deg) translateZ(400px);
  animation: forwards 2s alternate RotacionX;
}

.RotaY {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -5%;
  width: 800px;
  transform: rotateY(-90deg) translateZ(400px);
  animation: forwards 2s alternate RotacionY;
}

.Rota {
  right: 0;
  bottom: -5%;
  position: absolute;
  width: 800px;
  opacity: 100%;
  transform: rotateY(0deg) translateZ(400px);
  animation: forwards 2s alternate Rotacion;
}

.RotacionRegreso {
  animation: forwards 2s alternate RotacionXX;
}

.asddd {
  position: fixed;
  top: 0;
}

@keyframes Rotacion {
  100% {
    transform: rotateY(90deg) translateZ(400px);
    opacity: 30%;
    display: none;
  }
}

@keyframes RotacionXX {
  100% {
    transform: rotateY(-90deg) translateZ(400px);
    opacity: 30%;
    display: none;
  }
}

@keyframes RotacionX {

  100% {
    transform: rotateY(0deg) translateZ(400px);
    opacity: 100%;
  }
}

@keyframes RotacionY {
  0% {
    transform: rotateY(90deg) translateZ(400px);
  }

  100% {
    transform: rotateY(0deg) translateZ(400px);
    opacity: 100%;
  }
}



.colapso {
  height: 0.1px;
  width: 0.001px;
}

.ContenConfig {
  backdrop-filter: blur(3px);
  width: 5%;
  padding: 5px 0px;
  margin-bottom: 30%;
  border: 1px solid var(--1paleta-Second-color);
  border-radius: 20px;
  position: fixed;
  right: 0;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 50px;
}

.IconC {
  width: 35%;
  cursor: pointer;
}

.Sec {
  margin-top: 0%;
  margin-bottom: 0;
}

.img-YO {
  width: 90%;
  max-width: 380px;
  border-radius: 20px;
  border-right: 2px solid var(--1paleta-Second-color);
  border-left: 2px solid var(--1paleta-Tercer-color);
  box-shadow: 0px 0px 0px 1px var(--1paleta-First-color);
}

@keyframes IMGyo {
  100% {
    box-shadow: 0px 0px 0px 10px var(--1paleta-Second-color);
  }

}


.HabiliIMG {
  width: 150px;
  border-radius: 35px;
  margin: 20px;
  transition: 0.3s;
  border: 1px solid var(--1paleta-First-color);
}

.HabiliIMG:hover {

  box-shadow: 0px 20px 20px 5px var(--Text-inportant-color);
}

/* //!    aqui empieza estilos secsion proyectos /////////////////////////////////// */

.boxContenProyect {
  border-radius: 5px;
  background-color: #c1c1c1;
  padding: 20px;
  margin: 10px 0px;
  display: flex;
  transition: 0.3s;
}

.contenProyecto {
  width: 40%;
  min-width: 250px;
  height: 250px;
  border-radius: 10px;
  position: relative;
}

.contenProyecto img {
  border-radius: 10px;
  transition: 0.5s;
}

.logoPoryect {
  max-width: 80%;
  position: absolute;
  right: 0;
  left: 0;
  top: 120px;
  margin: auto;
  transition: 0.5s;
}

.personajeProyect {
  height: 200px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0px;
  opacity: 0;
  transition: 0.5s;
}

.boxContenProyect:hover .logoPoryect {
  top: -40px;

}

.boxContenProyect:hover .personajeProyect {
  bottom: 50px;
  opacity: 100;
}

.boxContenProyect:hover .fondoProyect {
  transform: rotate3d(1, 0, 0, 45deg);

}

.boxContenProyect:hover {
  background-color: var(--1paleta-Tercer-color);
}

.contenInfoProyetc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000;
  padding: 20px 10px;
  margin: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.contenBtn {
  display: block;
  display: flex;
  justify-content: space-around;
}



/* //! contacto para formulario////////////////////////////////// */
.ContenForm {
  background: rgb(2, 42, 105);
  background: radial-gradient(circle, rgba(2, 42, 105, 1) 42%, rgb(53, 206, 22) 100%);
  margin-top: 20px;
  width: 100%;
  display: block;
  animation: 2s infinite linear alternate moveGradient;
  transition: 0.5s;
  background-size: 200% 200%;
  /* Aumenta el tamaño del fondo para tener espacio para el movimiento */
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.ContenForm input {
  background-color: #ffffff;
  width: 80%;
  border-radius: 10px;
  border: 0;
  outline: none;
  height: 30px;
  margin: 5px 0px;
  padding: 5px 15px 5px 50px;
  box-sizing: border-box;
}

.ContenForm textarea {
  width: 80%;
  border-radius: 5px;
  border: 2px rgba(0, 0, 0, 0.726) dashed;
  min-height: 150px;
  max-height: 150px;
  min-width: 80%;
  max-width: 80%;
  outline: none;
}

.ContenForm label {
  width: 10%;
  display: block;
  margin-left: 20%;
}

.textForm {
  background-color: #399a88;
  padding: 15px;
  border-radius: 0px 0px 50px 50px;
}

.ContenInputsForm {
  position: relative;
}

.iconForm {
  position: absolute;
  color: var(--1paleta-Tercer-color);
  transform: translate(10px, 8px);
}



.contenToasts{
  background-color: #b0ffa6;
  width: 230px;
  height: 60px;
  border-radius: 50px 0px 50px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 150px;
  right: -250px;
  padding: 10px;
  color: #000;
  z-index: 50000;
  opacity: 0;
  animation: 1s 1  forwards notiFirts;
}

@keyframes rotacion360 {
 
  100%{
    transform: rotate(360deg);
  }
}
@keyframes notiFirts {
  50%{
    right: 0;
    top: 150px;
  }
  100%{
    opacity: 100;
    top: 0;
    right: 0;
  }
}
.rotate{
  animation: 0.5s infinite linear rotacion360;
}
/* //! empieza galleria  ///////////////////////////////////////[ */
.box-conten-gallery{
  /* background-color: #022a69; */
  width: 100%;
  height: 90%;
  overflow-y: scroll !important;
}
.ContenGallery{
  z-index: 800;
  background-color: #2f3e55;
  position: absolute;
  width: 95%;
  height:85%;
  right: 0;
  left: 0;
  bottom: -100%;
  margin: auto;
  overflow-y: scroll;
  transition: 0.5s;
}

.headerGallery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 15px;
  border-bottom: 2px solid rgba(81, 81, 81, 0.256);
  position: sticky;
  top: 0;
  background-color: #1f2939;
  z-index: 21;
}



.slider{
  width: 70%;
  height: 50%;
  margin: auto;
}
.slider div img{
  height: 200px;
}

.openSlide{
  right: 0;
  left: 0;
  bottom: 0;
}

